$fontserif: 'Time new roman', 'Times', 'serif';
$font: 'Helvetica', 'Arial', 'sans-serif';

$basecolor: #EAEAEA;
$secondarycolor: #FDFDFD;

$bp-tablet: 480px;
$bp-desktop: 768px;
$bp-desktop-large: 1024px;
$bp-desktop-extra-large: 1800px;
